.popup__input-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    transition: 0.3s;
    height: 12px;
    width: 358px;
}

@media screen and (max-width: 660px) {
    .popup__input-error {
        width: 238px;
    }
}