.popup__container {
    max-width: 430px;
    max-height: 330px;
    background: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    padding-top: 34px;
}

@media screen and (max-width: 660px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
    }
}