.profile__description {
    max-width: 300px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;   
}

@media screen and (max-width: 660px) {
    .profile__description {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}